In [2]:
import jaqs

In [3]:
jaqs.__version__

'0.6.9.4'

In [7]:
from jaqs.data import DataApi

api = DataApi(addr="tcp://data.quantos.org:8910")

api.login("15010492066", "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTMwNTA0ODY3MTQiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTUwMTA0OTIwNjYifQ.s_530n20Aelg7-8-1IorTgoa_yp6goImz20hhGIzMGU") 

df, msg = api.daily(
                symbol="300033.SZ", 
                start_date=20180101,
                end_date=20180301, 
                fields="", 
                adjust_mode="post")
df

,close,code,freq,high,low,oi,open,presettle,settle,symbol,trade_date,trade_status,turnover,volume,vwap
0,415.953519,300033,1d,423.376741,413.591584,NaN,421.605290,NaN,NaN,300033.SZ,20180102,交易,2.206594e+08,4471440.0,416.28
1,422.533193,300033,1d,423.798515,415.025616,NaN,416.628357,NaN,NaN,300033.SZ,20180103,交易,2.557825e+08,5131341.0,420.48
2,420.846097,300033,1d,422.448838,418.484163,NaN,422.448838,NaN,NaN,300033.SZ,20180104,交易,1.728867e+08,3471253.0,420.13
3,432.233995,300033,1d,437.126574,420.339968,NaN,420.761742,NaN,NaN,300033.SZ,20180105,交易,5.365843e+08,10485685.0,431.67
4,439.066734,300033,1d,449.442374,424.304644,NaN,429.365932,NaN,NaN,300033.SZ,20180108,交易,3.899483e+08,7543377.0,436.06
5,433.246253,300033,1d,437.801412,431.390447,NaN,437.801412,NaN,NaN,300033.SZ,20180109,交易,2.027985e+08,3944887.0,433.65
6,436.029961,300033,1d,445.393344,432.065286,NaN,434.342865,NaN,NaN,300033.SZ,20180110,交易,2.630401e+08,5072410.0,437.44
7,451.973018,300033,1d,456.275113,429.365932,NaN,435.102058,NaN,NaN,300033.SZ,20180111,交易,5.362129e+08,10150453.0,445.62
8,439.825927,300033,1d,448.767536,438.898024,NaN,447.080440,NaN,NaN,300033.SZ,20180112,交易,3.072105e+08,5848246.0,443.12
9,420.930452,300033,1d,437.885767,417.556260,NaN,436.536090,NaN,NaN,300033.SZ,20180115,交易,3.218532e+08,6369431.0,426.25
10,423.882870,300033,1d,424.135934,420.086904,NaN,420.930452,NaN,NaN,300033.SZ,20180116,交易,1.604643e+08,3207075.0,422.06
11,436.451735,300033,1d,447.923988,421.942710,NaN,423.967225,NaN,NaN,300033.SZ,20180117,交易,4.444910e+08,8611419.0,435.41
12,433.921091,300033,1d,444.802860,431.137383,NaN,432.740124,NaN,NaN,300033.SZ,20180118,交易,2.404651e+08,4635699.0,437.57
13,445.983828,300033,1d,454.334953,433.583672,NaN,434.427220,NaN,NaN,300033.SZ,20180119,交易,6.100270e+08,11501350.0,447.41
14,490.607517,300033,1d,490.607517,443.200119,NaN,443.200119,NaN,NaN,300033.SZ,20180122,交易,1.418680e+09,24936373.0,479.91
15,491.535420,300033,1d,493.391225,476.520265,NaN,480.906715,NaN,NaN,300033.SZ,20180123,交易,9.765875e+08,16962338.0,485.66
16,524.096372,300033,1d,539.870720,490.944936,NaN,493.981709,NaN,NaN,300033.SZ,20180124,交易,1.774335e+09,28979847.0,516.48
17,510.009121,300033,1d,539.027172,509.334282,NaN,514.564280,NaN,NaN,300033.SZ,20180125,交易,1.373429e+09,22163858.0,522.72
18,513.636377,300033,1d,522.831050,506.128800,NaN,511.443152,NaN,NaN,300033.SZ,20180126,交易,6.392118e+08,10461299.0,515.43
19,514.564280,300033,1d,518.360246,499.380416,NaN,513.720732,NaN,NaN,300033.SZ,20180129,交易,6.807872e+08,11245126.0,510.69
20,511.864926,300033,1d,524.855566,505.285252,NaN,514.479925,NaN,NaN,300033.SZ,20180130,交易,5.433297e+08,8912261.0,514.26
21,461.673820,300033,1d,497.693320,460.745918,NaN,497.693320,NaN,NaN,300033.SZ,20180131,交易,9.148339e+08,16232724.0,475.40
22,464.035755,300033,1d,475.170588,452.479147,NaN,467.663011,NaN,NaN,300033.SZ,20180201,交易,7.055440e+08,12783586.0,465.57
23,469.603172,300033,1d,483.184294,457.624790,NaN,457.624790,NaN,NaN,300033.SZ,20180202,交易,6.234857e+08,11132354.0,472.44
24,462.348659,300033,1d,469.012688,454.334953,NaN,455.515920,NaN,NaN,300033.SZ,20180205,交易,4.158564e+08,7606090.0,461.20
25,428.522384,300033,1d,460.577208,423.123677,NaN,446.236892,NaN,NaN,300033.SZ,20180206,交易,6.062282e+08,11509520.0,444.31
26,442.187862,300033,1d,455.094146,425.991740,NaN,441.344314,NaN,NaN,300033.SZ,20180207,交易,5.852479e+08,11155741.0,442.54
27,411.060940,300033,1d,420.930452,402.034977,NaN,404.903040,NaN,NaN,300033.SZ,20180208,交易,8.173039e+08,16847082.0,409.23
28,384.236114,300033,1d,401.866267,377.150311,NaN,401.866267,NaN,NaN,300033.SZ,20180209,交易,6.505571e+08,14363251.0,382.07
29,391.237562,300033,1d,398.239011,379.174826,NaN,384.320469,NaN,NaN,300033.SZ,20180212,交易,3.146184e+08,6807854.0,389.84
30,388.959983,300033,1d,398.998204,388.032080,NaN,394.696109,NaN,NaN,300033.SZ,20180213,交易,2.509120e+08,5379055.0,393.48
31,389.213047,300033,1d,391.659336,385.501436,NaN,386.429339,NaN,NaN,300033.SZ,20180214,交易,1.683320e+08,3651433.0,388.88
32,403.637718,300033,1d,408.277232,390.225305,NaN,396.045786,NaN,NaN,300033.SZ,20180222,交易,2.805758e+08,5900000.0,401.15
33,401.528848,300033,1d,407.180620,397.142398,NaN,403.215944,NaN,NaN,300033.SZ,20180223,交易,1.997847e+08,4195501.0,401.69
34,420.930452,300033,1d,423.292386,404.903040,NaN,406.674491,NaN,NaN,300033.SZ,20180226,交易,3.747621e+08,7619077.0,414.92
35,416.712712,300033,1d,425.148192,411.820134,NaN,421.774000,NaN,NaN,300033.SZ,20180227,交易,3.385002e+08,6814951.0,418.99
36,409.205135,300033,1d,418.990292,397.311108,NaN,401.950622,NaN,NaN,300033.SZ,20180228,交易,3.143358e+08,6462319.0,410.31

In [8]:
msg

'0,'

In [9]:
df, msg = api.quote(
                symbol="000001.SH", 
                fields="open,high,low,last,volume")

In [10]:
df

,date,high,last,low,open,symbol,time,volume
000001.SH,20180301,3280.1491,3271.4315,3228.5848,3235.0887,000001.SH,145047000,149055181

In [13]:
df, msg = api.daily(
                symbol="600832.SH, 600030.SH", 
                start_date=20180101,
                end_date=20180301, 
                fields="", 
                adjust_mode="post")

In [14]:
df

,close,code,freq,high,low,oi,open,presettle,settle,symbol,trade_date,trade_status,turnover,volume,vwap
0,97.075720,600030,1d,97.496873,95.443753,NaN,95.443753,NaN,NaN,600030.SH,20180102,交易,2.562810e+09,139328457.0,96.83
1,97.970670,600030,1d,99.234128,96.601923,NaN,96.654568,NaN,NaN,600030.SH,20180103,交易,2.831080e+09,151966900.0,98.07
2,98.286535,600030,1d,99.181484,97.233653,NaN,98.128602,NaN,NaN,600030.SH,20180104,交易,2.141315e+09,114791454.0,98.20
3,99.392061,600030,1d,100.497587,97.865382,NaN,98.339179,NaN,NaN,600030.SH,20180105,交易,3.271662e+09,172884868.0,99.62
4,102.866571,600030,1d,104.235318,99.549993,NaN,100.023790,NaN,NaN,600030.SH,20180108,交易,4.827830e+09,248970642.0,102.08
5,102.340130,600030,1d,104.603827,101.497825,NaN,102.919216,NaN,NaN,600030.SH,20180109,交易,2.805148e+09,143919389.0,102.61
6,103.235080,600030,1d,103.919453,101.234604,NaN,102.498063,NaN,NaN,600030.SH,20180110,交易,2.923746e+09,150258482.0,102.44
7,101.497825,600030,1d,102.919216,100.655519,NaN,102.445419,NaN,NaN,600030.SH,20180111,交易,2.185830e+09,113379540.0,101.49
8,101.761045,600030,1d,103.077148,100.655519,NaN,101.339892,NaN,NaN,600030.SH,20180112,交易,2.023121e+09,104603804.0,101.82
9,102.392774,600030,1d,103.656233,99.918502,NaN,101.339892,NaN,NaN,600030.SH,20180115,交易,4.355326e+09,224135432.0,102.30
10,106.604303,600030,1d,107.236032,101.024028,NaN,101.392537,NaN,NaN,600030.SH,20180116,交易,4.587774e+09,233073315.0,103.62
11,110.236745,600030,1d,115.237935,107.920405,NaN,107.920405,NaN,NaN,600030.SH,20180117,交易,1.051009e+10,497887681.0,111.13
12,112.711018,600030,1d,113.921832,110.026169,NaN,111.342271,NaN,NaN,600030.SH,20180118,交易,6.301946e+09,295669219.0,112.21
13,112.079289,600030,1d,115.027359,110.131457,NaN,112.447798,NaN,NaN,600030.SH,20180119,交易,7.792348e+09,363017665.0,113.00
14,111.605492,600030,1d,112.868950,110.236745,NaN,111.079051,NaN,NaN,600030.SH,20180122,交易,3.833396e+09,180999744.0,111.49
15,111.658136,600030,1d,115.080003,110.026169,NaN,112.500442,NaN,NaN,600030.SH,20180123,交易,7.140624e+09,335664503.0,111.99
16,120.660277,600030,1d,120.818209,111.342271,NaN,112.658374,NaN,NaN,600030.SH,20180124,交易,1.120049e+10,507088583.0,116.28
17,117.554275,600030,1d,120.291769,117.080478,NaN,118.449225,NaN,NaN,600030.SH,20180125,交易,7.162054e+09,317331694.0,118.82
18,117.606919,600030,1d,119.712683,116.922546,NaN,117.554275,NaN,NaN,600030.SH,20180126,交易,5.666869e+09,251997488.0,118.38
19,116.396105,600030,1d,119.660039,115.869664,NaN,118.291293,NaN,NaN,600030.SH,20180129,交易,5.925036e+09,264480843.0,117.94
20,113.869188,600030,1d,117.606919,113.342747,NaN,115.343223,NaN,NaN,600030.SH,20180130,交易,5.378020e+09,245153996.0,115.49
21,112.079289,600030,1d,114.237697,110.236745,NaN,112.921594,NaN,NaN,600030.SH,20180131,交易,5.273746e+09,247253408.0,112.29
22,113.184815,600030,1d,113.500680,110.605254,NaN,112.658374,NaN,NaN,600030.SH,20180201,交易,5.949370e+09,278675087.0,112.39
23,113.290103,600030,1d,113.869188,109.552372,NaN,111.500204,NaN,NaN,600030.SH,20180202,交易,4.271688e+09,201001039.0,111.88
24,114.711494,600030,1d,115.080003,110.342034,NaN,110.605254,NaN,NaN,600030.SH,20180205,交易,4.737105e+09,220891963.0,112.90
25,108.183626,600030,1d,113.816544,107.288676,NaN,111.816068,NaN,NaN,600030.SH,20180206,交易,7.065096e+09,336472749.0,110.54
26,102.919216,600030,1d,110.657898,102.708639,NaN,110.394678,NaN,NaN,600030.SH,20180207,交易,5.437202e+09,267963657.0,106.82
27,101.287248,600030,1d,103.972097,100.339655,NaN,102.550707,NaN,NaN,600030.SH,20180208,交易,3.580693e+09,184744075.0,102.03
28,91.337514,600030,1d,98.655043,91.179581,NaN,97.812738,NaN,NaN,600030.SH,20180209,交易,6.192958e+09,347827131.0,93.73
29,91.232225,600030,1d,92.390395,90.126699,NaN,91.706022,NaN,NaN,600030.SH,20180212,交易,2.814025e+09,161969625.0,91.46
30,92.758904,600030,1d,94.969956,91.969243,NaN,92.179819,NaN,NaN,600030.SH,20180213,交易,3.613495e+09,203541851.0,93.46
31,92.811548,600030,1d,93.022125,91.232225,NaN,92.653616,NaN,NaN,600030.SH,20180214,交易,1.816024e+09,103687710.0,92.20
32,94.812024,600030,1d,95.391109,93.443277,NaN,94.706736,NaN,NaN,600030.SH,20180222,交易,2.802806e+09,156016518.0,94.57
33,95.759618,600030,1d,97.128364,94.390871,NaN,95.285821,NaN,NaN,600030.SH,20180223,交易,2.886887e+09,158505334.0,95.88
34,98.181246,600030,1d,99.392061,94.812024,NaN,96.865144,NaN,NaN,600030.SH,20180226,交易,3.906586e+09,211992034.0,97.01
35,96.075482,600030,1d,97.970670,95.496397,NaN,97.918026,NaN,NaN,600030.SH,20180227,交易,2.844320e+09,155042208.0,96.58
36,95.338465,600030,1d,96.654568,93.653854,NaN,95.022600,NaN,NaN,600030.SH,20180228,交易,2.865960e+09,158572812.0,95.15

In [15]:
df,msg = api.bar(
            symbol="600030.SH", 
            trade_date=20180102, 
            freq="5M",
            start_time=0,
            end_time=160000,
            fields="")

In [16]:
df

,close,code,date,freq,high,low,oi,open,settle,symbol,time,trade_date,turnover,volume,vwap
0,18.15,600030,20180102,5M,18.17,18.13,NaN,18.13,NaN,600030.SH,93500,20180102,54913821.0,3025700.0,18.149129
1,18.18,600030,20180102,5M,18.22,18.15,NaN,18.15,NaN,600030.SH,94000,20180102,45094553.0,2478900.0,18.191356
2,18.15,600030,20180102,5M,18.19,18.14,NaN,18.17,NaN,600030.SH,94500,20180102,32754704.0,1802800.0,18.168795
3,18.18,600030,20180102,5M,18.20,18.16,NaN,18.16,NaN,600030.SH,95000,20180102,27841280.0,1531700.0,18.176719
4,18.26,600030,20180102,5M,18.32,18.19,NaN,18.20,NaN,600030.SH,95500,20180102,105171940.0,5754951.0,18.275037
5,18.30,600030,20180102,5M,18.31,18.26,NaN,18.26,NaN,600030.SH,100000,20180102,72332880.0,3954700.0,18.290358
6,18.34,600030,20180102,5M,18.34,18.28,NaN,18.29,NaN,600030.SH,100500,20180102,73787294.0,4031400.0,18.303144
7,18.31,600030,20180102,5M,18.36,18.30,NaN,18.33,NaN,600030.SH,101000,20180102,68544338.0,3738558.0,18.334432
8,18.30,600030,20180102,5M,18.32,18.28,NaN,18.30,NaN,600030.SH,101500,20180102,38710900.0,2115063.0,18.302481
9,18.32,600030,20180102,5M,18.32,18.30,NaN,18.30,NaN,600030.SH,102000,20180102,23777320.0,1298351.0,18.313476
10,18.39,600030,20180102,5M,18.40,18.31,NaN,18.32,NaN,600030.SH,102500,20180102,68433493.0,3729801.0,18.347760
11,18.43,600030,20180102,5M,18.45,18.40,NaN,18.40,NaN,600030.SH,103000,20180102,126766479.0,6880900.0,18.422950
12,18.39,600030,20180102,5M,18.44,18.39,NaN,18.43,NaN,600030.SH,103500,20180102,77586983.0,4211800.0,18.421336
13,18.38,600030,20180102,5M,18.41,18.37,NaN,18.39,NaN,600030.SH,104000,20180102,36233463.0,1970100.0,18.391687
14,18.40,600030,20180102,5M,18.42,18.34,NaN,18.39,NaN,600030.SH,104500,20180102,51446093.0,2797501.0,18.390018
15,18.40,600030,20180102,5M,18.41,18.39,NaN,18.40,NaN,600030.SH,105000,20180102,40930514.0,2224300.0,18.401526
16,18.39,600030,20180102,5M,18.41,18.38,NaN,18.40,NaN,600030.SH,105500,20180102,26331293.0,1431623.0,18.392617
17,18.38,600030,20180102,5M,18.42,18.37,NaN,18.39,NaN,600030.SH,110000,20180102,37925642.0,2061776.0,18.394647
18,18.37,600030,20180102,5M,18.39,18.35,NaN,18.39,NaN,600030.SH,110500,20180102,21369932.0,1163400.0,18.368516
19,18.40,600030,20180102,5M,18.40,18.35,NaN,18.37,NaN,600030.SH,111000,20180102,25810310.0,1404500.0,18.376867
20,18.42,600030,20180102,5M,18.42,18.39,NaN,18.40,NaN,600030.SH,111500,20180102,34332990.0,1865500.0,18.404176
21,18.43,600030,20180102,5M,18.44,18.39,NaN,18.41,NaN,600030.SH,112000,20180102,48487480.0,2634100.0,18.407608
22,18.50,600030,20180102,5M,18.50,18.42,NaN,18.42,NaN,600030.SH,112500,20180102,193286844.0,10459035.0,18.480371
23,18.43,600030,20180102,5M,18.50,18.43,NaN,18.50,NaN,600030.SH,113000,20180102,58783419.0,3182800.0,18.469090
24,18.47,600030,20180102,5M,18.47,18.41,NaN,18.45,NaN,600030.SH,130500,20180102,61308842.0,3323300.0,18.448182
25,18.45,600030,20180102,5M,18.48,18.43,NaN,18.47,NaN,600030.SH,131000,20180102,33273552.0,1802500.0,18.459668
26,18.43,600030,20180102,5M,18.47,18.43,NaN,18.45,NaN,600030.SH,131500,20180102,19412898.0,1052100.0,18.451571
27,18.44,600030,20180102,5M,18.45,18.42,NaN,18.44,NaN,600030.SH,132000,20180102,22581723.0,1225400.0,18.428042
28,18.44,600030,20180102,5M,18.45,18.42,NaN,18.44,NaN,600030.SH,132500,20180102,40503251.0,2197900.0,18.428159
29,18.47,600030,20180102,5M,18.50,18.43,NaN,18.43,NaN,600030.SH,133000,20180102,81179619.0,4394579.0,18.472673
30,18.50,600030,20180102,5M,18.51,18.47,NaN,18.47,NaN,600030.SH,133500,20180102,162421886.0,8783017.0,18.492721
31,18.48,600030,20180102,5M,18.51,18.46,NaN,18.49,NaN,600030.SH,134000,20180102,131965068.0,7134874.0,18.495781
32,18.46,600030,20180102,5M,18.50,18.45,NaN,18.48,NaN,600030.SH,134500,20180102,31030275.0,1678900.0,18.482503
33,18.42,600030,20180102,5M,18.46,18.42,NaN,18.45,NaN,600030.SH,135000,20180102,42261792.0,2292900.0,18.431590
34,18.39,600030,20180102,5M,18.44,18.38,NaN,18.43,NaN,600030.SH,135500,20180102,49515943.0,2691100.0,18.399890
35,18.37,600030,20180102,5M,18.40,18.35,NaN,18.39,NaN,600030.SH,140000,20180102,46409648.0,2526050.0,18.372419
36,18.37,600030,20180102,5M,18.40,18.36,NaN,18.37,NaN,600030.SH,140500,20180102,23864330.0,1298800.0,18.374138
37,18.37,600030,20180102,5M,18.39,18.36,NaN,18.37,NaN,600030.SH,141000,20180102,22647788.0,1232900.0,18.369526
38,18.35,600030,20180102,5M,18.39,18.33,NaN,18.37,NaN,600030.SH,141500,20180102,28660015.0,1561994.0,18.348352
39,18.37,600030,20180102,5M,18.39,18.35,NaN,18.35,NaN,600030.SH,142000,20180102,18263532.0,994300.0,18.368231
40,18.37,600030,20180102,5M,18.39,18.36,NaN,18.37,NaN,600030.SH,142500,20180102,19724538.0,1073400.0,18.375757
41,18.43,600030,20180102,5M,18.44,18.37,NaN,18.37,NaN,600030.SH,143000,20180102,38838660.0,2109900.0,18.407820
42,18.41,600030,20180102,5M,18.44,18.40,NaN,18.43,NaN,600030.SH,143500,20180102,34010107.0,1846500.0,18.418688
43,18.39,600030,20180102,5M,18.41,18.36,NaN,18.41,NaN,600030.SH,144000,20180102,37852698.0,2059432.0,18.380164
44,18.41,600030,20180102,5M,18.42,18.37,NaN,18.37,NaN,600030.SH,144500,20180102,33057479.0,1797310.0,18.392753
45,18.40,600030,20180102,5M,18.42,18.40,NaN,18.40,NaN,600030.SH,145000,20180102,49618129.0,2695400.0,18.408447
46,18.42,600030,20180102,5M,18.44,18.40,NaN,18.40,NaN,600030.SH,145500,20180102,50149179.0,2722639.0,18.419327
47,18.45,600030,20180102,5M,18.45,18.41,NaN,18.43,NaN,600030.SH,150000,20180102,87011213.0,4721303.0,18.429491

In [17]:
df, msg = api.query(
                view="jz.instrumentInfo", 
                fields="status,list_date, fullname_en, market", 
                filter="inst_type=1&status=1&symbol=", 
                data_format='pandas')

In [18]:
df

     list_date market      name  status     symbol
0     19991110     SH      浦发银行       1  600000.SH
1     20001219     SH      民生银行       1  600016.SH
2     20030106     SH      中信证券       1  600030.SH
3     20021009     SH      中国联通       1  600050.SH
4     19970807     SH      国金证券       1  600109.SH
5     20000526     SH      广汇能源       1  600256.SH
6     20010827     SH      贵州茅台       1  600519.SH
7     19930316     SH      东方明珠       1  600637.SH
8     19960312     SH      伊利股份       1  600887.SH
9     20091117     SH      招商证券       1  600999.SH
10    20070205     SH      兴业银行       1  601166.SH
11    20100715     SH      农业银行       1  601288.SH
12    20071203     SH      中国中铁       1  601390.SH
13    20070109     SH      中国人寿       1  601628.SH
14    20080818     SH      中国中车       1  601766.SH
15    20071105     SH      中国石油       1  601857.SH
16    20091216     SH      中国重工       1  601989.SH
17    20010309     SH      包钢股份       1  600010.SH
18    20061026     SH      上港集团       1  600018.SH
19    20020409     SH      招商银行       1  600036.SH
20    19970618     SH      特变电工       1  600089.SH
21    19970924     SH      北方稀土       1  600111.SH
22    20031016     SH      国电南瑞       1  600406.SH
23    20020205     SH      海油工程       1  600583.SH
24    19931119     SH      青岛海尔       1  600690.SH
25    19960408     SH      航发动力       1  600893.SH
26    20060801     SH      大秦铁路       1  601006.SH
27    20070919     SH      北京银行       1  601169.SH
28    20070301     SH      中国平安       1  601318.SH
29    20061027     SH      工商银行       1  601398.SH
...        ...    ...       ...     ...        ...
4220  20170918    HKS    中信建投证券       1   6066.HKS
4221  20170918    HKH     香港交易所       1   0388.HKH
4222  20170918    HKS     香港交易所       1   0388.HKS
4223  20170918    HKH      美图公司       1   1357.HKH
4224  20170918    HKS      美图公司       1   1357.HKS
4225  20170918    HKH      龙湖地产       1   0960.HKH
4226  20170918    HKS      龙湖地产       1   0960.HKS
4227  20170918    HKH     招商局港口       1   0144.HKH
4228  20170918    HKS     招商局港口       1   0144.HKS
4229  20170918    HKH       周黑鸭       1   1458.HKH
4230  20170918    HKS       周黑鸭       1   1458.HKS
4231  20170918    HKH      中国铁建       1   1186.HKH
4232  20170918    HKS      中国铁建       1   1186.HKS
4233  20170918    HKS      中粮肉食       1   1610.HKS
4234  20170918    HKH      南海控股       1   0680.HKH
4235  20170918    HKS      南海控股       1   0680.HKS
4236  20170918    HKS      金地商置       1   0535.HKS
4237  20170918    HKH      上海医药       1   2607.HKH
4238  20170918    HKS      上海医药       1   2607.HKS
4239  20170918    HKH      大众公用       1   1635.HKH
4240  20170918    HKS      大众公用       1   1635.HKS
4241  20170918    HKS      宇华教育       1   6169.HKS
4242  20170918    HKS      民生教育       1   1569.HKS
4243  20170918    HKH      国泰君安       1   2611.HKH
4244  20170918    HKS      国泰君安       1   2611.HKS
4245  20170918    HKS  中国光大绿色环保       1   1257.HKS
4246  20170918    HKH      药明生物       1   2269.HKH
4247  20170918    HKS      药明生物       1   2269.HKS
4248  20170918    HKS      交银国际       1   3329.HKS
4249  20170918    HKS    广州农商银行       1   1551.HKS

[4250 rows x 5 columns]