In [2]:
# 获取shibor数据
import tushare as ts
df = ts.shibor_data() #取当前年份的数据
#df = ts.shibor_data(2014) #取2014年的数据
# df.sort('date', ascending=False).head(10)

C:\Program Files (x86)\Anaconda3\lib\site-packages\pandas\core\internals.py:3224: FutureWarning: Passing in 'datetime64' dtype with no frequency is deprecated and will raise in a future version. Please pass in 'datetime64[ns]' instead.
  return self.apply('astype', dtype=dtype, **kwargs)

In [3]:
df

         date      ON      1W      2W      1M      3M      6M      9M      1Y
0  2018-01-02  2.6570  2.8390  3.9430  4.7430  4.8040  4.8310  4.7150  4.7470
1  2018-01-03  2.5635  2.7850  3.8700  4.6220  4.7300  4.7830  4.7110  4.7360
2  2018-01-04  2.5050  2.7600  3.8020  4.4760  4.6870  4.7380  4.7020  4.7286
3  2018-01-05  2.4840  2.7450  3.7490  4.3756  4.6637  4.7118  4.6990  4.7249
4  2018-01-08  2.4610  2.7370  3.7200  4.2886  4.6594  4.7052  4.6989  4.7200
5  2018-01-09  2.5290  2.7440  3.6980  4.2209  4.6570  4.7026  4.6970  4.7200
6  2018-01-10  2.6430  2.7760  3.7060  4.1821  4.6607  4.6990  4.6970  4.7200
7  2018-01-11  2.8320  2.8320  3.7760  4.1632  4.6701  4.7049  4.7017  4.7230
8  2018-01-12  2.8300  2.8640  3.8080  4.1134  4.6791  4.7085  4.7052  4.7233
9  2018-01-15  2.7940  2.8600  3.8160  4.0904  4.6830  4.7139  4.7116  4.7253
10 2018-01-16  2.7850  2.8790  3.8280  4.0941  4.6843  4.7124  4.7142  4.7296
11 2018-01-17  2.7650  2.8780  3.8370  4.0905  4.6935  4.7133  4.7165  4.7320
12 2018-01-18  2.7655  2.8780  3.8430  4.0921  4.7044  4.7154  4.7237  4.7332
13 2018-01-19  2.8360  2.8910  3.8460  4.1113  4.7115  4.7216  4.7274  4.7384
14 2018-01-22  2.7710  2.8890  3.8540  4.1122  4.7122  4.7272  4.7318  4.7429
15 2018-01-23  2.6020  2.8630  3.8600  4.1123  4.7163  4.7278  4.7322  4.7423
16 2018-01-24  2.5740  2.8320  3.8630  4.1183  4.7267  4.7268  4.7323  4.7423
17 2018-01-25  2.5634  2.8498  3.8600  4.1269  4.7317  4.7297  4.7333  4.7423
18 2018-01-26  2.5506  2.8420  3.8600  4.1257  4.7292  4.7270  4.7324  4.7423
19 2018-01-29  2.5660  2.8420  3.8630  4.1276  4.7270  4.7287  4.7303  4.7423
20 2018-01-30  2.5540  2.8380  3.8580  4.1288  4.7267  4.7299  4.7311  4.7423
21 2018-01-31  2.5940  2.8298  3.8552  4.1289  4.7257  4.7300  4.7312  4.7423
22 2018-02-01  2.5154  2.7925  3.8642  4.1329  4.7276  4.7320  4.7332  4.7463
23 2018-02-02  2.5173  2.7880  3.8670  4.1293  4.7278  4.7322  4.7314  4.7457
24 2018-02-05  2.5305  2.7758  3.8720  4.1070  4.7258  4.7323  4.7302  4.7446
25 2018-02-06  2.5390  2.7706  3.8750  4.0887  4.7206  4.7313  4.7321  4.7465
26 2018-02-07  2.5710  2.7710  3.8830  4.0809  4.7070  4.7302  4.7323  4.7450
27 2018-02-08  2.5720  2.9040  3.8850  4.0780  4.6960  4.7291  4.7313  4.7455
28 2018-02-09  2.5890  2.9180  3.8920  4.0740  4.6936  4.7290  4.7312  4.7456
29 2018-02-11  2.6080  2.9170  3.9080  4.0694  4.6974  4.7289  4.7312  4.7456
30 2018-02-12  2.5850  2.9180  3.9190  4.0750  4.6960  4.7269  4.7312  4.7456
31 2018-02-13  2.5870  2.9280  3.9480  4.0705  4.7006  4.7287  4.7312  4.7456
32 2018-02-14  2.7230  2.9100  3.8760  4.0751  4.7031  4.7280  4.7310  4.7440
33 2018-02-22  2.6310  2.8910  3.8550  4.0666  4.7054  4.7268  4.7281  4.7434
34 2018-02-23  2.5970  2.8810  3.8630  4.0557  4.7076  4.7307  4.7299  4.7420
35 2018-02-24  2.5600  2.8760  3.8580  4.0526  4.7078  4.7291  4.7300  4.7420
36 2018-02-26  2.5710  2.8700  3.8459  4.0443  4.7128  4.7290  4.7300  4.7420
37 2018-02-27  2.5610  2.8610  3.8329  4.0380  4.7103  4.7270  4.7300  4.7422
38 2018-02-28  2.7080  2.9060  3.8420  4.0428  4.7131  4.7287  4.7300  4.7420
39 2018-03-01  2.6910  2.8960  3.8390  4.0403  4.7154  4.7289  4.7300  4.7420

In [5]:
import tushare as ts

# opDate:信用交易日期
# rzye:本日融资余额(元)
# rzmre: 本日融资买入额(元)
# rqyl: 本日融券余量
# rqylje: 本日融券余量金额(元)
# rqmcl: 本日融券卖出量
# rzrqjyzl:本日融资融券余额(元)

ts.sh_margins(start='2018-01-01', end='2018-03-01')

[Getting data:]#

,opDate,rzye,rzmre,rqyl,rqylje,rqmcl,rzrqjyzl
0,2018-02-28,594617162664,21297493208,519612772,4152781574,90028782,598769944238
1,2018-02-27,593011785899,22856603849,515507218,4210700362,74280906,597222486261
2,2018-02-26,592714977109,25753904633,539766801,4324525319,97710691,597039502428
3,2018-02-23,590318411364,17836336744,538441060,4279690057,80715203,594598101421
4,2018-02-22,590374192560,19397930848,537231638,4218365813,141429804,594592558373
5,2018-02-14,587596708400,9746397185,428137439,3390879358,38697420,590987587758
6,2018-02-13,595328087592,16338479817,481300156,3824705594,72708581,599152793186
7,2018-02-12,600926938548,16839248965,481391892,3754839053,100772812,604681777601
8,2018-02-09,604833557210,27580819000,466193240,3573356841,104990562,608406914051
9,2018-02-08,615710148081,25870067541,466231986,3785537067,80582428,619495685148
10,2018-02-07,616405478519,35263849592,489860104,4007914605,95806694,620413393124
11,2018-02-06,619290275865,31544870755,510319945,4188948545,96446231,623479224410
12,2018-02-05,630054975768,29843195422,514623809,4322740448,104110875,634377716216
13,2018-02-02,631035437334,27287974198,473192696,4042598212,56031475,635078035546
14,2018-02-01,636482319607,29702648663,502463110,4233708630,79415607,640716028237
15,2018-01-31,645400680690,28966225507,483571589,4054638580,73671246,649455319270
16,2018-01-30,648176166579,28745206171,478033248,4058242338,60408630,652234408917
17,2018-01-29,648256047965,38181209245,501055416,4192740627,71491288,652448788592
18,2018-01-26,646634615949,34247168309,516847971,4269286836,76289213,650903902785
19,2018-01-25,647529134317,38141340740,533190722,4381538742,95255666,651910673059
20,2018-01-24,646859187212,42616129855,542170310,4448193750,98229541,651307380962
21,2018-01-23,644564213418,37876068321,540815711,4455055561,86183139,649019268979
22,2018-01-22,639921300534,33237544268,542599432,4354081581,87925167,644275382115
23,2018-01-19,636018905560,37339370592,554563499,4378780910,105099649,640397686470
24,2018-01-18,634228438561,36979327828,552058099,4477045539,103608937,638705484100
25,2018-01-17,627094987907,39842179516,567252405,4454773086,138072735,631549760993
26,2018-01-16,625992542194,34078228867,503553012,4133975739,74508764,630126517933
27,2018-01-15,621497637591,36278584789,569752152,4379791823,132724788,625877429414
28,2018-01-12,619848249343,26368470723,506595130,4093318611,80954815,623941567954
29,2018-01-11,621046744130,28156920753,518981283,4177520514,85734540,625224264644
30,2018-01-10,619625092233,33230513439,515254713,4205771294,88968220,623830863527
31,2018-01-09,616540107796,30086145554,492605694,4077347539,69350546,620617455335
32,2018-01-08,614437310945,36490715414,520467167,4207633747,104853368,618644944692
33,2018-01-05,611033498008,30311498312,475185679,3909520577,72649378,614943018585
34,2018-01-04,610527948195,29696616884,473343923,3955106395,81062102,614483054590
35,2018-01-03,608815534517,30439570182,448392069,3772954586,74917924,612588489103
36,2018-01-02,608366051878,27590480172,441452197,3654085132,76344279,612020137010

In [6]:
import tushare as ts

ts.sz_margins(start='2018-01-01', end='2018-03-01')

[Getting data:]############################################

,rzmre,rzye,rqmcl,rqyl,rqye,rzrqye,opDate
0,19318739801,416786551136,16854859,68835305,1002431176,417788982312,2018-01-02
0,24600561646,418038453643,19978687,72416295,1020955675,419059409318,2018-01-03
0,21219153695,418393156625,18747022,72591994,1051553585,419444710210,2018-01-04
0,21590954402,417780059574,20702321,75096316,1052191948,418832251522,2018-01-05
0,25295660627,419757512895,17673647,73228177,1035018020,420792530915,2018-01-08
0,22612670713,421331167175,16498273,73829820,1047728025,422378895200,2018-01-09
0,23888251468,422887438096,13658463,71043183,1028609238,423916047334,2018-01-10
0,22739642154,424530615308,16558697,73787108,1076428651,425607043959,2018-01-11
0,20701954249,423711946855,13700620,70339680,1028439649,424740386504,2018-01-12
0,27200167361,423688666962,22040012,76190075,1085817849,424774484811,2018-01-15
0,24630900120,424795783333,20847473,76754736,1101566772,425897350105,2018-01-16
0,28308747083,425352253011,32351726,86120482,1139420634,426491673645,2018-01-17
0,18645872553,425649876189,22844734,80107823,1068073043,426717949232,2018-01-18
0,22197715872,425038667651,23082290,78451316,1072714036,426111381687,2018-01-19
0,22844579254,426337351348,17963671,74615557,1087589406,427424940754,2018-01-22
0,21606579298,426841578991,20286706,76540447,1073592172,427915171163,2018-01-23
0,28228438389,428978787026,20954320,74365678,1070477341,430049264367,2018-01-24
0,26786075436,428834763488,18833252,73167268,1039365039,429874128527,2018-01-25
0,21717443254,427640006021,13804903,68144348,998026906,428638032927,2018-01-26
0,25780409108,429733941151,16558214,70035385,1007744281,430741685432,2018-01-29
0,19762375752,430224103947,13672607,67105162,949537114,431173641061,2018-01-30
0,21565619487,428872876720,17608080,67918651,966806901,429839683621,2018-01-31
0,22877129433,425272063589,30588723,79876842,971417353,426243480942,2018-02-01
0,18519765446,421722516810,19797479,69303969,944637596,422667154406,2018-02-02
0,18187429157,420712495129,16812387,66726359,891062919,421603558048,2018-02-05
0,21138241827,415230395334,22102640,69875518,897220549,416127615883,2018-02-06
0,21879143708,412743088709,18952490,65164662,851868545,413594957254,2018-02-07
0,14983684511,410223893273,16546608,64264807,828197873,411052091146,2018-02-08
0,16632503194,403099304754,21884782,62542206,762602182,403861906936,2018-02-09
0,12901740468,399516672512,14280626,59564848,795381254,400312053766,2018-02-12
0,12828233808,396006009472,14833701,62730670,811874115,396817883587,2018-02-13
0,8148260700,390176660654,5840577,50553139,675723881,390852384535,2018-02-14
0,15932617570,392133610438,22459380,66098425,883536225,393017146663,2018-02-22
0,14417203372,392347602366,13922773,64917069,854612103,393202214469,2018-02-23
0,23324148143,395007796231,24149747,74023715,976879039,395984675270,2018-02-26
0,21177881293,395770641779,14092510,66956719,915414924,396686056703,2018-02-27
0,19499737961,395679399247,20712846,73462447,1017585886,396696985133,2018-02-28